// @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
// @import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import 'spark/scss/spark.scss';
@import 'layout.scss';

.spark-docs-layout {
  display: flex;
  height: 100%;
}

.spark-docs-layout__header {
  padding: 8px 16px;
  box-shadow: 0 2px 5px 0 rgba(51, 51, 51, 0.15) !important;
}

.spark-docs-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spark-docs-container__header {
  text-align: center;
}

.spark-docs-details-body {
  flex: 1;
  overflow-y: scroll;
  height: 100%;
}

.spark-docs-sidebar {
  padding: 8px 0;
  min-width: 230px;
  border-right: 1px solid color(bluish-grey);
  overflow-y: scroll;

  .spark-docs-sidebar-item {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-right: 4px solid transparent;

  }

  .spark-docs-sidebar-item--current {
    border-right-color: color(blue);
    background-color: color(blue-opacity-6);
    color: color(blue-dense-2);
  }
}

.c-spark-docs-colors-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  .c-spark-docs-colors-item {
    flex-basis: 20%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
