@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import 'spark/scss/spark.scss';
@import 'layout.scss';

.spark-docs-layout {
  display: flex;
  height: 100%;
}

.spark-docs-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spark-docs-container__header {
  text-align: center;
}

.spark-docs-details-body {
  flex: 1;
  overflow-y: scroll;
}

.spark-docs-sidebar {
  padding: 8px 0;
  min-width: 230px;
  border-right: 1px solid color(bluish-grey);

  .spark-docs-sidebar-item {
    display: block;
    padding-left: 16px;
  }

  .spark-docs-sidebar-item--current {
    color: color(blue-dense-2);
  }
}
